#rectangleWrapper {
    padding: 50px 50px 0 50px
}


/* Size of rectangles rectangles side by side */

.rectangle {
    height: 100px;
    width: 80px;
    margin-right: 20px;
    float: left;
}


/* Text: center and and below */

.rectangle p {
    text-align: center;
    margin-top: 100px;
}


/* */

#r1,
#r2,
#r3,
#r4,
#r5,
#r6,
#r7,
#r8,
#r9,
#r10 {}


/* Rectangle colors */

#r1 {
    background-color: #5f9ea0;
}

#r2 {
    background-color: #f071bf;
}

#r3 {
    background-color: #FF5733;
}

#r4 {
    background-color: #495fdb;
}

#r5 {
    background-color: #2d919e;
}

#r6 {
    background-color: #afcf91;
}

#r7 {
    background-color: #3d1f32;
}

#r8 {
    background-color: #d3bb31;
}

#r9 {
    background-color: #82718a;
}

#r10 {
    background-color: #e44848;
}