#rectangleWrapper {
    padding: 50px 50px 0 50px;
    width: 330px;
}


/* Size of rectangles and background color */

.rectangle {
    height: 100px;
    width: 100px;
    float: left;
    margin: 2.5px;
    background-color: #5f9ea0;
}

.rectangle p {
    text-align: center;
    margin: 0%;
    font-size: 86px;
}

.X {
    color: red;
}

.O {
    color: black;
}